Install required packages

!pip install Sastrawi --quiet
!pip install tensorflow --quiet

Import required packages

In [55]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
from sklearn.utils import resample
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix,classification_report
import re, io, json
from tensorflow.keras.callbacks import ModelCheckpoint   # save model
from tensorflow.keras.models import load_model   # load saved model
from tensorflow.keras.preprocessing.text import tokenizer_from_json

# Indonesian Stemmer
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

Load dataset

In [56]:
data = pd.read_csv('./utf8_dataset.csv')
data = data[['Tweet','HS']]
data.head(10)

                                               Tweet  HS
0  - disaat semua cowok berusaha melacak perhatia...   1
1  RT USER: USER siapa yang telat ngasih tau elu?...   0
2  41. Kadang aku berfikir, kenapa aku tetap perc...   0
3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...   0
4  USER USER Kaum cebong kapir udah keliatan dong...   1
5  USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...   1
6  deklarasi pilkada 2018 aman dan anti hoax warg...   0
7  Gue baru aja kelar re-watch Aldnoah Zero!!! pa...   0
8  Nah admin belanja satu lagi port terbaik nak m...   0
9                      USER Enak lg klo smbil ngewe'   0

Check dataset details

In [57]:
print(data['HS'].size, "Total")
print(np.sum(data['HS'] == 1), "Hate speech")
print(np.sum(data['HS'] == 0), "Non hate speech")

13169 Total
5561 Hate speech
7608 Non hate speech

In [48]:
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED

data = pd.read_csv('./clean_dataset.csv')
data = data[['Tweet','HS']]
print(data.head(10))

# Tweets/Input
x_data = data['Tweet']

# Sentiment/Output
y_data = data['HS']

# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED

                                               Tweet  HS
0  di saat cowok usaha lacak perhati gue kamu lan...   1
1  telat beri tau kamu edan sarap gue gaul cigax ...   0
2  kadang pikir percaya tuhan jatuh kali kali kad...   0
3                               tau mata sipit lihat   0
4    kaum cebong kafir sudah lihat dongok dungu haha   1
5                        bani taplak dan kawan kawan   1
6  deklarasi pilih kepala daerah aman anti hoaks ...   0
7  gue saja selesai watch aldnoah zero kampret me...   0
8  admin belanja po baik nak makan ais kepal milo...   0
9                            enak kalau sambil ngewe   0

## Preprocessing

In [26]:
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# Tweets/Input
x_data = data['Tweet']

# Sentiment/Output
y_data = data['HS']

# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED
# TO BE REMOVED

### Make everything lowercase

In [58]:
data['Tweet'] = data['Tweet'].apply(lambda tweet: tweet.lower())
data['Tweet'].head(10)

0    - disaat semua cowok berusaha melacak perhatia...
1    rt user: user siapa yang telat ngasih tau elu?...
2    41. kadang aku berfikir, kenapa aku tetap perc...
3    user user aku itu aku\n\nku tau matamu sipit t...
4    user user kaum cebong kapir udah keliatan dong...
5    user ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...
6    deklarasi pilkada 2018 aman dan anti hoax warg...
7    gue baru aja kelar re-watch aldnoah zero!!! pa...
8    nah admin belanja satu lagi port terbaik nak m...
9                        user enak lg klo smbil ngewe'
Name: Tweet, dtype: object

### Remove known unwanted words

In [59]:
# Remove \n \t \r
data['Tweet'].replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

# Remove RT
data['Tweet'] = data['Tweet'].str.replace('rt', '')

# Remove USER
data['Tweet'] = data['Tweet'].str.replace('user', '')

# Remove URL
data['Tweet'] = data['Tweet'].str.replace('url', '')

data['Tweet'].head(10)

0    - disaat semua cowok berusaha melacak perhatia...
1     :  siapa yang telat ngasih tau elu?edan sarap...
2    41. kadang aku berfikir, kenapa aku tetap perc...
3      aku itu aku  ku tau matamu sipit tapi diliat...
4      kaum cebong kapir udah keliatan dongoknya da...
5     ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x9f\x...
6    deklarasi pilkada 2018 aman dan anti hoax warg...
7    gue baru aja kelar re-watch aldnoah zero!!! pa...
8    nah admin belanja satu lagi po terbaik nak mak...
9                             enak lg klo smbil ngewe'
Name: Tweet, dtype: object

### Remove non-alphabets characters

In [60]:
data['Tweet'] = data['Tweet'].replace({'[^A-Za-z]': ' '}, regex = True)
data['Tweet'].head(10)

0      disaat semua cowok berusaha melacak perhatia...
1        siapa yang telat ngasih tau elu edan sarap...
2        kadang aku berfikir  kenapa aku tetap perc...
3      aku itu aku  ku tau matamu sipit tapi diliat...
4      kaum cebong kapir udah keliatan dongoknya da...
5     ya bani taplak dkk  xf  x f x   x   xf  x f x...
6    deklarasi pilkada      aman dan anti hoax warg...
7    gue baru aja kelar re watch aldnoah zero    pa...
8    nah admin belanja satu lagi po terbaik nak mak...
9                             enak lg klo smbil ngewe
Name: Tweet, dtype: object

### Remove words that is less than 3 characters

In [61]:
data['Tweet'] = data['Tweet'].apply(lambda tweet: ' '.join([w for w in tweet.split() if len(w) > 2]))
print(data['Tweet'].head(10));

0    disaat semua cowok berusaha melacak perhatian ...
1    siapa yang telat ngasih tau elu edan sarap gue...
2    kadang aku berfikir kenapa aku tetap percaya p...
3    aku itu aku tau matamu sipit tapi diliat dari ...
4    kaum cebong kapir udah keliatan dongoknya dari...
5                                      bani taplak dkk
6    deklarasi pilkada aman dan anti hoax warga duk...
7    gue baru aja kelar watch aldnoah zero paling k...
8    nah admin belanja satu lagi terbaik nak makan ...
9                                 enak klo smbil ngewe
Name: Tweet, dtype: object

### Reformat texts

In [62]:
# Remove excess spaces
data['Tweet'] = data['Tweet'].apply(lambda tweet: ' '.join(tweet.split()))

# Trim
data['Tweet'] = data['Tweet'].str.strip()

data['Tweet'].head(10)

0    disaat semua cowok berusaha melacak perhatian ...
1    siapa yang telat ngasih tau elu edan sarap gue...
2    kadang aku berfikir kenapa aku tetap percaya p...
3    aku itu aku tau matamu sipit tapi diliat dari ...
4    kaum cebong kapir udah keliatan dongoknya dari...
5                                      bani taplak dkk
6    deklarasi pilkada aman dan anti hoax warga duk...
7    gue baru aja kelar watch aldnoah zero paling k...
8    nah admin belanja satu lagi terbaik nak makan ...
9                                 enak klo smbil ngewe
Name: Tweet, dtype: object

### Load and replace alay words

In [63]:
alay_words = pd.read_csv('alay.csv')
alay_words.head(10)

                  alay               replacement
0  anakjakartaasikasik  anak jakarta asyik asyik
1         pakcikdahtua         pak cik sudah tua
2       pakcikmudalagi         pak cik muda lagi
3          t3tapjokowi              tetap jokowi
4                   3x                 tiga kali
5               aamiin                      amin
6              aamiinn                      amin
7                aamin                      amin
8              aammiin                      amin
9                 abis                     habis

In [64]:
def replace_alay(tweet):
    output = []
    words = tweet.split()
    for word in words:
      row = alay_words[alay_words.alay == word]
      if row.empty:
        output.append(word)
      else:
        output.append(str(row['replacement'].values[0]))

    return ' '.join(output)

data['Tweet'] = data['Tweet'].apply(lambda tweet: replace_alay(tweet))
data['Tweet'].head(10)

0    di saat semua cowok berusaha melacak perhatian...
1    siapa yang telat memberi tau kamu edan sarap g...
2    kadang aku berpikir kenapa aku tetap percaya p...
3    aku itu aku tau matamu sipit tapi dilihat dari...
4    kaum cebong kafir sudah kelihatan dongoknya da...
5                          bani taplak dan kawan kawan
6    deklarasi pilihan kepala daerah aman dan anti ...
7    gue baru saja selesai watch aldnoah zero palin...
8    nah admin belanja satu lagi terbaik nak makan ...
9                              enak kalau sambil ngewe
Name: Tweet, dtype: object

### Load and remove stopwords

In [65]:
indonesian_stopwords = pd.read_csv('stopwords.txt', sep="\n")
indonesian_stopwords = indonesian_stopwords.iloc[:, 0].values.tolist()
indonesian_stopwords[:10]

['adalah',
 'adanya',
 'adapun',
 'agak',
 'agaknya',
 'agar',
 'akan',
 'akankah',
 'akhir',
 'akhiri']

In [66]:
def remove_stopwords(tweet):
    output = []
    words = tweet.split()
    for word in words:
      if word not in indonesian_stopwords:
        output.append(word)

    return ' '.join(output)

data['Tweet'] = data['Tweet'].apply(lambda tweet: remove_stopwords(tweet))

data['Tweet'].head(10)

0    cowok berusaha melacak perhatian gue lantas re...
1    telat tau edan sarap gue bergaul cigax jifla c...
2    kadang berpikir percaya tuhan jatuh berkali ka...
3                                     tau matamu sipit
4               kaum cebong kafir dongoknya dungu haha
5                              bani taplak kawan kawan
6    deklarasi pilihan kepala daerah aman anti hoak...
7    gue selesai watch aldnoah zero kampret karakte...
8    admin belanja terbaik nak makan ais kepal milo...
9                                           enak ngewe
Name: Tweet, dtype: object

In [67]:
data['Tweet'][3]

'tau matamu sipit'

### Stem using Indonesian stemmer

It took quite some time, measured to be around 1 hour and 40 minutes, so be patient

In [ ]:
stemmer_factory = StemmerFactory()
stemmer = stemmer_factory.create_stemmer()

data['Tweet'] = data['Tweet'].apply(lambda tweet: stemmer.stem(tweet))

In [49]:
data['Tweet'].head(10)

0    di saat cowok usaha lacak perhati gue kamu lan...
1    telat beri tau kamu edan sarap gue gaul cigax ...
2    kadang pikir percaya tuhan jatuh kali kali kad...
3                                 tau mata sipit lihat
4      kaum cebong kafir sudah lihat dongok dungu haha
5                          bani taplak dan kawan kawan
6    deklarasi pilih kepala daerah aman anti hoaks ...
7    gue saja selesai watch aldnoah zero kampret me...
8    admin belanja po baik nak makan ais kepal milo...
9                              enak kalau sambil ngewe
Name: Tweet, dtype: object

### Tokenize the words

In [70]:
data.dropna()

max_fatures = 2000
tokenizer = Tokenizer(lower=False, num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(data['Tweet'].values)

X = tokenizer.texts_to_sequences(data['Tweet'].values)
X = pad_sequences(X)

X[:3]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,  253,  693, 1015,    7, 1988, 1015,    7,
          73,   97,  253,  144],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0, 1816,
          34,  323,  291,    7],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,  436,  852,  159,  133,  668,   94,  436,  133,  892,    4,
         184,   23,   32, 1817]])

## Training
### Initialize LSTM network

In [72]:
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())
print(X.shape[1])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 37, 128)           256000

 spatial_dropout1d (SpatialD  (None, 37, 128)          0
 ropout1D)

 lstm (LSTM)                 (None, 196)               254800

 dense (Dense)               (None, 2)                 394

=================================================================
Total params: 511,194
Trainable params: 511,194
Non-trainable params: 0
_________________________________________________________________
None
37

### Split dataset for training and testing

In [75]:
Y = pd.get_dummies(data['HS']).values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20, random_state = 42)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(10535, 37) (10535, 2)
(2634, 37) (2634, 2)

### Declare checkpoint to save the model as a file

In [78]:
checkpoint = ModelCheckpoint(
    'models/LSTM_new.h5',
    monitor='accuracy',
    save_best_only=True,
    verbose=1
)

### Start training with 15 epoch

In [79]:
batch_size = 128
model.fit(X_train, Y_train, epochs = 15, batch_size=batch_size, verbose = 1, callbacks=[checkpoint])

Epoch 1/15
83/83 [==============================] - ETA: 0s - loss: 0.5350 - accuracy: 0.7131
Epoch 00001: accuracy improved from -inf to 0.71305, saving model to models\LSTM_new.h5
83/83 [==============================] - 20s 211ms/step - loss: 0.5350 - accuracy: 0.7131
Epoch 2/15
83/83 [==============================] - ETA: 0s - loss: 0.3542 - accuracy: 0.8475
Epoch 00002: accuracy improved from 0.71305 to 0.84746, saving model to models\LSTM_new.h5
83/83 [==============================] - 18s 212ms/step - loss: 0.3542 - accuracy: 0.8475
Epoch 3/15
83/83 [==============================] - ETA: 0s - loss: 0.3158 - accuracy: 0.8645
Epoch 00003: accuracy improved from 0.84746 to 0.86445, saving model to models\LSTM_new.h5
83/83 [==============================] - 18s 217ms/step - loss: 0.3158 - accuracy: 0.8645
Epoch 4/15
83/83 [==============================] - ETA: 0s - loss: 0.3001 - accuracy: 0.8703
Epoch 00004: accuracy improved from 0.86445 to 0.87034, saving model to models\LSTM_new.h5
83/83 [==============================] - 19s 226ms/step - loss: 0.3001 - accuracy: 0.8703
Epoch 5/15
83/83 [==============================] - ETA: 0s - loss: 0.2824 - accuracy: 0.8812
Epoch 00005: accuracy improved from 0.87034 to 0.88116, saving model to models\LSTM_new.h5
83/83 [==============================] - 19s 234ms/step - loss: 0.2824 - accuracy: 0.8812
Epoch 6/15
83/83 [==============================] - ETA: 0s - loss: 0.2644 - accuracy: 0.8894
Epoch 00006: accuracy improved from 0.88116 to 0.88942, saving model to models\LSTM_new.h5
83/83 [==============================] - 21s 252ms/step - loss: 0.2644 - accuracy: 0.8894
Epoch 7/15
83/83 [==============================] - ETA: 0s - loss: 0.2524 - accuracy: 0.8946
Epoch 00007: accuracy improved from 0.88942 to 0.89464, saving model to models\LSTM_new.h5
83/83 [==============================] - 22s 263ms/step - loss: 0.2524 - accuracy: 0.8946
Epoch 8/15
83/83 [==============================] - ETA: 0s - loss: 0.2364 - accuracy: 0.9001
Epoch 00008: accuracy improved from 0.89464 to 0.90014, saving model to models\LSTM_new.h5
83/83 [==============================] - 21s 255ms/step - loss: 0.2364 - accuracy: 0.9001
Epoch 9/15
83/83 [==============================] - ETA: 0s - loss: 0.2211 - accuracy: 0.9101
Epoch 00009: accuracy improved from 0.90014 to 0.91011, saving model to models\LSTM_new.h5
83/83 [==============================] - 22s 268ms/step - loss: 0.2211 - accuracy: 0.9101
Epoch 10/15
83/83 [==============================] - ETA: 0s - loss: 0.2079 - accuracy: 0.9128
Epoch 00010: accuracy improved from 0.91011 to 0.91277, saving model to models\LSTM_new.h5
83/83 [==============================] - 23s 273ms/step - loss: 0.2079 - accuracy: 0.9128
Epoch 11/15
83/83 [==============================] - ETA: 0s - loss: 0.2025 - accuracy: 0.9168
Epoch 00011: accuracy improved from 0.91277 to 0.91675, saving model to models\LSTM_new.h5
83/83 [==============================] - 24s 292ms/step - loss: 0.2025 - accuracy: 0.9168
Epoch 12/15
83/83 [==============================] - ETA: 0s - loss: 0.1906 - accuracy: 0.9223
Epoch 00012: accuracy improved from 0.91675 to 0.92226, saving model to models\LSTM_new.h5
83/83 [==============================] - 22s 268ms/step - loss: 0.1906 - accuracy: 0.9223
Epoch 13/15
83/83 [==============================] - ETA: 0s - loss: 0.1788 - accuracy: 0.9257
Epoch 00013: accuracy improved from 0.92226 to 0.92568, saving model to models\LSTM_new.h5
83/83 [==============================] - 22s 263ms/step - loss: 0.1788 - accuracy: 0.9257
Epoch 14/15
83/83 [==============================] - ETA: 0s - loss: 0.1734 - accuracy: 0.9277
Epoch 00014: accuracy improved from 0.92568 to 0.92767, saving model to models\LSTM_new.h5
83/83 [==============================] - 22s 264ms/step - loss: 0.1734 - accuracy: 0.9277
Epoch 15/15
83/83 [==============================] - ETA: 0s - loss: 0.1635 - accuracy: 0.9327
Epoch 00015: accuracy improved from 0.92767 to 0.93270, saving model to models\LSTM_new.h5
83/83 [==============================] - 23s 274ms/step - loss: 0.1635 - accuracy: 0.9327

### Measure score and accuracy

In [80]:
predict_x = model.predict(X_test)
classes_x = np.argmax(predict_x, axis=1)

df_test = pd.DataFrame({'true': Y_test.tolist(), 'pred': classes_x})
print(df_test.head())

df_test['true'] = df_test['true'].apply(lambda x: np.argmax(x))

print('confusion matrix', confusion_matrix(df_test.true, df_test.pred))
print(classification_report(df_test.true, df_test.pred))

     true  pred
0  [0, 1]     1
1  [0, 1]     0
2  [1, 0]     0
3  [1, 0]     0
4  [1, 0]     0
confusion matrix [[1229  287]
 [ 218  900]]
              precision    recall  f1-score   support

           0       0.85      0.81      0.83      1516
           1       0.76      0.81      0.78      1118

    accuracy                           0.81      2634
   macro avg       0.80      0.81      0.81      2634
weighted avg       0.81      0.81      0.81      2634

## Testing

### Load saved model

### Accept input

### Run preprocessing on the input

### Tokenize inputs

### Run prediction